<div>
<br />
<br />
<br />
<br />
<br />
	
	
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
  <div class="panel-heading">Add Book Category</div>
  <div class="panel-body">
  <p>{{ message }}</p>
        	<form role="form" name="myForm">
		<div class= "form-group" ng-class="{error: myForm.title.$invalid}">
			<label> Title </label>
			<div>
			<input name="cat_name" ng-model="bookCategory.cat_name" type= "text" class= "form-control" placeholder="Title" required/>
			<span ng-show="myForm.cat_name.$dirty && myForm.cat_name.$invalid" class="help-inline">Title Required</span>
			</div>
		</div>
		<div class= "form-group" ng-class="{error: myForm.shelfNo.$invalid}">
			<label> Shelf No. </label>
			<div>
			<input name="shelfNo" ng-model="bookCategory.shelfNo" type= "text" class= "form-control" placeholder="shelf no" required/>
			<span ng-show="myForm.shelfNo.$dirty && myForm.shelfNo.$invalid" class="help-inline">Year Required</span>
			</div>
		</div>
	 
		<a href="#/book/categories" class="btn btn-danger">Cancel</a>
		<button ng-click="createCategory(bookCategory);" 
                ng-disabled="myForm.$invalid"
                type="submit" class="btn btn-primary">Submit</button>
	</form>
    </div>
    </div>
        </div>
    </div>
	
</div>