<div>
<action-notification></action-notification>
	<form role="form" name="myForm">
    <div class="panel panel-default">
  <div class="panel-heading">Lend Book</div>
  <div class="panel-body">
  	<div class="row">
    	<div class="col-md-4">
        	<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
				<label> Name </label>
				<div>
					<input name="name" ng-model="book.name" type= "text" class= "form-control" placeholder="name" required/>
					<span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
				</div>
			</div>
        </div>
		
		<div class="col-md-4">
        	<div class= "form-group" ng-class="{error: myForm.email.$invalid}">
				<label> Email </label>
				<div>
					<input name="email" ng-model="book.email" type= "text" class= "form-control" placeholder="email" required/>
					<span ng-show="myForm.email.$dirty && myForm.email.$invalid" class="help-inline">Rmail Required</span>
				</div>
			</div>
        </div>
		
        <div class="col-md-4">
        	<div class= "form-group" ng-class="{error: myForm.phone.$invalid}">
				<label> Phone </label>
				<div>
					<input name="phone" ng-model="book.phone" type= "text" class= "form-control" placeholder="Phone" required/>
					<span ng-show="myForm.phone.$dirty && myForm.phone.$invalid" class="help-inline">Phone Required</span>
				</div>
			</div>
        </div>
    </div>
    
    <div class="row">
    	<div class="col-md-4">
        	<div class= "form-group">
				<label> Address </label>
				<div>
					<textarea name="address" ng-model="book.address" class= "form-control" placeholder= "address"></textarea>
				</div>
			</div>
        </div>
		
        <div class="col-md-4">
        	<div class= "form-group" ng-class="{error: myForm.publisher.$invalid}">
				<label>Select Book</label>
				<div>
					<select class="form-control" name="book_id" ng-model="book.book_id" ng-options="books.id as books.title for books in bookList" required>
						<option value="">Select Book</option>
					</select>
					
					<span ng-show="myForm.book_id.$dirty && myForm.book_id.$invalid" class="help-inline">Publisher Required</span>
				</div>
			</div>
        </div>
		
        <div class="col-md-4">
        	<div class= "form-group" ng-class="{error: myForm.returningDate.$invalid}">
				<label>Returning Date</label>
				<div>
					<input name="returningDate" ng-model="book.returningDate" type="date" class= "form-control" placeholder="Returning Date" required/>
					
					<span id="returningDate" ng-show="myForm.returningDate.$dirty && myForm.returningDate.$invalid" class="help-inline">Returning Date Required</span>
				</div>
			</div>
        </div>
    </div>
	
    <hr/>
	<a href="#book/view_lending_books" class="btn btn-danger">Cancel</a>
		<button ng-if="book.id == null" ng-click="saveLandingBook(book);" ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">
			Submit 
		</button>
		
		<button ng-if="book.id != null" ng-click="updateLandingBook(book);" ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">
			Update 
		</button>
    </div>
</div>
	</form>
</div>